<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
       
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Novo médico</h5>
            </div>
            <div class="card-body">
              <form (ngSubmit)="cadastrar()" [formGroup]="medicoForm">

                <div class="row">
                  <div class="col-md-2 pr-1">
                    <div class="form-group">
                      <label>CRM</label>
                      <input type="text" class="form-control" formControlName="crm" [ngClass]="{ 'is-invalid': submetido && form.crm.errors }">
                    </div>
                    <div *ngIf="submetido && form.crm.errors" class="invalid-feedback d-block">
                      <div *ngIf="form.crm.errors.required">Campo obrigatório</div>
                    </div>
                  </div>

                  <div class="col-md-8 px-1">
                    <div class="form-group">
                      <label>Nome</label>
                      <input type="text" class="form-control" formControlName="nome" [ngClass]="{ 'is-invalid': submetido && form.nome.errors }">
                    </div>
                    <div *ngIf="submetido && form.nome.errors" class="invalid-feedback d-block">
                      <div *ngIf="form.nome.errors.required">Campo obrigatório</div>
                    </div>
                  </div>

                </div>
                <div class="row">

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label>CPF</label>
                      <input type="text" class="form-control" formControlName="cpf" 
                      [ngClass]="{ 'is-invalid': submetido && form.cpf.errors }" [textMask]="{mask: MASKS.cpf.textMask}">
                    </div>
                    <div *ngIf="submetido && form.cpf.errors" class="invalid-feedback d-block">
                      <div *ngIf="form.cpf.errors.required">
                        Campo obrigatório
                      </div>
                      <div *ngIf="form.cpf.errors.cpf">
                          Formato de cpf inválido.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submetido && form.email.errors }">
                    </div>
                    <div *ngIf="submetido && form.email.errors" class="invalid-feedback d-block">
                      <div *ngIf="form.email.errors.required">
                        Campo obrigatório
                      </div>
                      <div *ngIf="form.email.errors.email">
                          Formato de email inválido.
                      </div>
                    </div>
                  </div>
                  
                </div>
              
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">Registrar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>